body {
	font-family: Arial, sans-serif;
	background-color:#9753dc;
}

.container {
	width: 80%;
	margin: 10px auto;
	text-align: center;
}

.countdown {
	font-size: 48px;
	margin-bottom: 20px;
    color: white;
    font-weight: 900;
}

.countdown span {
	margin: 0 10px;
}

.buy-now {
	background-color: #317d34;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.purchase-options {
	margin-top: 40px;
}

.purchase-options ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.purchase-options li {
	background-color: #9540e9;
	padding: 20px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.purchase-options h3 {
	margin-top: 0;
}

.buy-basic, .buy-premium {
	background-color: #4f9952;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
